#div{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    text-align: center;
    border: 2px;
    border-style: solid;
    padding-bottom: 2px;
    padding-top: 50px;
}