body{
    background-color: white;
    height: 60px;
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
}
#one{
    color: rgb(207, 121, 8);
    text-align: start;
    margin-left: 30px;
    
}
#two{
    color: white;
    margin-left: 200px;
}
#three{
    color: white;
    margin-left: 200px;
}
#four{
    margin-left: 200px;
}
#five{
    background-color: rgb(207, 121, 8);
}
#zero{
    background-color: #001111;
    height: 50px;
    text-align:inherit;
    padding-top: 10px;
    margin-bottom: 0%;
    
}
#minus{
    color: white;
    margin-left: 200px;

}
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header{
    height: 50px;
    margin-bottom: 0%;
}

#main{
    height: 500px;
    background-color: coral;
    text-align: center;
    border: 2px;
    border-color: black;
    border-style: solid;
    
}

#footer1,#footer2{
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    height: 24.5px;
    border: 2px;
    border-style: dotted;
    border-color: white;

}

