/* We are learning about some color properties.
   1. what if we have to change the whole background color of the page.
 */
 *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 body{
    background-color: rgba(111, 167, 231, 0.76);
 }
 /* this is used for changing color of an specific element.*/
 h1{
    color: red;
    background-color: black; /*used to change the bg color of this element*/
    
 }

 #subtitle{ /* this is the id method*/
    color: #0f0096;
 }
 
 button{ /* for button */
    color: black;
    background-color: rgb(137, 137, 245);
    border: 2;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    border-bottom: 2;
    border-top: 2;
    border-color: black;
    border-style: solid;
 }

 .secret{ /*this is the class method*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24pt;
    text-decoration:#960000 dashed line-through;
    background-color: #960000;
 }

 p{/*because text is by default left aligned so we can modify it and some text properties*/
    text-align: center;
    color: #960000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    font-weight: lighter;
    text-decoration: blue underline;

 }

 #div{ /*height and other box model in css properties and their usage*/
    height: 25px;
    width: 200px;
    background-color: rgba(180, 11, 11,0.75); /* rgba a represents alpha which is responsible for controling the opacity*/
    text-align: center;
    border-width: 2px;
    border-color: black;
    border-style: dashed;
    border-radius: 25px;
    padding-top: 1px;
    display: inline-block;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in(5ms);
    transition-delay: 0.2ms;
    
 }
 #div:hover{
    background-color: antiquewhite;
    color: blue;
    transform: scale(2);
    rotate: 45deg;
    transform: translate(200px);
    transform: skew(90deg);
 }
 
 #container{
    margin-top: 10px;
    height: 200px;
    width: 700px;
    text-align: cen;
    background-color: white;
    border: 2px;
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    /*align-content: end;*/
 }

 #box1{
    background-color: aqua;
    height: 100px;
    width: 120px;
    border: 2px;
    
    border-color: black;
    border-style: solid;
    text-align: center;
    margin-left: 0.5px;
    align-self: flex-start;
 }


#box2{
    background-color: aqua;
    height: 100px;
    width: 120px;
    border: 2px;
    text-align: center;
    border-color: black;
    border-style: solid;
    margin-left: 0.5px;
 }
 #box3{
    background-color: aqua;
    height: 100px;
    width: 120px;
    border: 2px;
    border-color: black;
    text-align: center;
    border-style: solid;
    margin-left: 0.5px;
 }
 #box4{
    background-color: aqua;
    height: 100px;
    width: 120px;
    border: 2px;
    border-color: black;
    border-style: solid;
    text-align: center;
    margin-left: 0.5px;
 }
 #box5{
    background-color: aqua;
    height: 100px;
    width: 120px;
    border: 2px;
    border-color: black;
    text-align: center;
    border-style: solid;
    margin-left: 0.5px;
 }

 @media (min-width:600px){
    body{
        background-color: black;
    }
 }



 #pookie{
    height: 100px;
    width: 200px;
    background-color: #0f0096;
    text-align: center;
    color: white;
    
 }

  @keyframes firstanimation {
    from{background-color: #960000;}
    to{background-color: aliceblue;}
 }

 #pookie:hover{
    animation-name: firstanimation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-delay: 5ms;
    animation-iteration-count: infinite;

 }