div{
    height: 100px;
    width: 220px;
    background-image: url("nature.jpg");
    background-size: cover;
    border: 2px;
    border-color: black;
    border-style: solid;
    text-align: center;
    position: fixed;
    right: 0px;
    bottom: 0px;
    
}