#div{
    height: 200px;
    width: 500px;
    background-color: aquamarine;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}

@media (max-width: 300px){
    #div{
        background-color: green;
    }
}

@media (min-width: 300px) and (max-width: 400px){
    #div{
        background-color: pink;
    }
}

@media (min-width: 400px) and (max-width: 600px){
    #div{
        background-color: red;
    }
}

@media (min-width: 600px){
    #div{
        background-color: blue;
    }
}