body{
    background-color: black;
}

#first{
    background-color: blanchedalmond;
    height: 100px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#second{
    background-color: blue;
    height: 80px;
    width: 500px;
    /*align-self: flex-end;*/ /*uncomment it to know the answer of challange 3*/
}